table.mod-belegungsplan-jquery {
    width:15%;
    margin:0;
    border:1px solid #DDD;
    border-collapse:collapse;
    font-size:1px;
}
table.mod-belegungsplan-jquery>tbody>tr {
    border-top:1px solid #DDD;
}
table.belegungsplan-table-dialog {
    border:1px solid #DDD;
    border-collapse:collapse;
    font-size:12px;
}
.belegungsplan-table-dialog > thead {
    display:table-header-group;
    vertical-align:middle;
    border-color: inherit;
}
.belegungsplan-table-dialog tr {
    display:table-row;
    vertical-align: inherit;
    border-color: inherit;
}
table.mod-belegungsplan-jquery>tbody>tr.belegCategory>th,
table.belegungsplan-table-dialog>tbody>tr.belegCategory>th {
    text-align:left;
    background-color:#CCC;
}
.belegungsplan-table-dialog>thead>tr>th,
.belegungsplan-table-dialog>tbody>tr>th,
.belegungsplan-table-dialog>thead>tr>td,
.belegungsplan-table-dialog>tbody>tr>td {
    padding:4px;
    border-top:1px solid #DDD;
    border-right:1px solid #DDD;
}
.belegungsplan-table-dialog>thead>tr>th {
    text-align:center;
}
.mod-belegungsplan-jquery>thead>tr>th.holiday,
.belegungsplan-table-dialog>thead>tr>th.holiday {
    background-color:#5BC0DE;
    border-color:#46B8DA;
    cursor: pointer;
}
.mod-belegungsplan-jquery>tbody>tr>td.frei,
.belegungsplan-table-dialog>tbody>tr>td.frei {
    background-color:#4CAE4C;
}
.mod-belegungsplan-jquery>tbody>tr>td.belegt,
.belegungsplan-table-dialog>tbody>tr>td.belegt {
    background-color:#D43F3A;
    border-right:0px;
}
.mod-belegungsplan-jquery>tbody>tr>td.anreise,
.belegungsplan-table-dialog>tbody>tr>td.anreise {
    background-color:#4CAE4C;
    border-right:none;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4cae4c+0,4cae4c+50,d43f3a+50,d43f3a+100 */
    background: #4cae4c;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #4cae4c 0%, #4cae4c 50%, #d43f3a 50%, #d43f3a 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #4cae4c 0%,#4cae4c 50%,#d43f3a 50%,#d43f3a 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #4cae4c 0%,#4cae4c 50%,#d43f3a 50%,#d43f3a 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4cae4c', endColorstr='#d43f3a',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */;
}
.mod-belegungsplan-jquery>tbody>tr>td.abreise,
.belegungsplan-table-dialog>tbody>tr>td.abreise {
    background-color:#4CAE4C;
    border-left:none;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d43f3a+0,d43f3a+50,4cae4c+50,4cae4c+100 */
    background: #d43f3a;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #d43f3a 0%, #d43f3a 50%, #4cae4c 50%, #4cae4c 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #d43f3a 0%,#d43f3a 50%,#4cae4c 50%,#4cae4c 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #d43f3a 0%,#d43f3a 50%,#4cae4c 50%,#4cae4c 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d43f3a', endColorstr='#4cae4c',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */;
}
